{% extends 'base.html' %}
{% block title %}
  Sign Up  
{% endblock title %}
{% block body %}
    
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="{% url 'signup' %}" method="post">
          {% csrf_token %}

          <!-- Email input -->
         
          <div class="form-outline mb-4">
            <label class="form-label" for="email">email</label>
            <input type="email" id="email" required class="form-control form-control-lg"
              placeholder="Enter your email" name="email" />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="email">First name</label>
            <input type="text" id="fName" required class="form-control form-control-lg"
              placeholder="Enter your firstname" name="fName" />
          </div>          <div class="form-outline mb-4">
            <label class="form-label" for="email">last name</label>
            <input type="text" id="lName" class="form-control form-control-lg"
              placeholder="Enter your lastname" required name="lName" />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">username</label>
            <input type="text" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter your username" required name="username" />
          </div>
          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" required name="pass1"/>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example5">Repeat your Password</label>
            <input type="password" id="form3Example5" class="form-control form-control-lg"
              placeholder="Enter password" required name="pass2"/>
          </div>



          <div class="text-center text-lg-start mt-4 pt-2">
            <button  type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Signup</button>

          </div>

        </form>
      </div>
    </div>
  </div>
  
</section>
  {% endblock body %}
